<div>
    <h1>Register</h1>
  <form method='POST' action='/auth/register'>
    <input  name='email' placeholder='email' type='text' />
    <input  name='password' placeholder='password' type='text' />
    <input  name='firstName' placeholder='firstName' type='text' />
    <input  name='lastName' placeholder='lastName' type='text' /> 
    
    <input type='submit' value='register!' />
  </form>
  <a href='/auth/login'>ya tengo una cuenta</a>
</div>